<launch>
    <arg name="driver" default="data_viewer"/>
    <arg name="output" default="screen"/>
    <node name="$(arg driver)" pkg="$(arg driver)" type="$(arg driver)" output="$(arg output)">
    <param name="L_V_roll" value=" 1.69162 " />
    <param name="L_V_pitch" value="44.9466 " />
    <param name="L_V_yaw" value="136.579 " />
    <param name="L_V_x" value="-0.440699 " />
    <param name="L_V_y" value="0.397052 " />
    <param name="L_V_z" value="1.90953 " />

    <param name="R_V_roll" value="179.496 " />
    <param name="R_V_pitch" value="135.409 " />
    <param name="R_V_yaw" value="44.0134 " />
    <param name="R_V_x" value="-0.449885 " />
    <param name="R_V_y" value="-0.416713 " />
    <param name="R_V_z" value="1.91294 " />

    <param name="B_S_roll" value="46.2898 " />
    <param name="B_S_pitch" value="-178.394 " />
    <param name="B_S_yaw" value="89.32 " />
    <param name="B_S_x" value="-0.69293 " />
    <param name="B_S_y" value="0.0125321 " />
    <param name="B_S_z" value="1.62381 " />

    <param name="M_S_roll" value="144.059 " />
    <param name="M_S_pitch" value="0.393917 " />
    <param name="M_S_yaw" value="89.5643 " />
    <param name="M_S_x" value="0.697959 " />
    <param name="M_S_y" value="-0.0254375 " />
    <param name="M_S_z" value="1.80916 " />

    </node>

</launch>
